@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p class="mb-2">
    <a asp-controller="Catalogo" asp-action="AdicionarProduto" class="btn btn-primary float-right">Cadastrar Produto</a>
</p>